<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tssss.bysj">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_cn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity android:name=".game.setting.AccountActivity"/>

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity
            android:name=".game.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".game.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.hall.HallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.friend.FriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.news.veiw.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.PeopleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".game.NewRoleActivity" />
        <activity android:name=".game.setting.SettingActivity" />
        <activity android:name=".game.setting.PasswordActivity" />
        <activity android:name=".game.im.ChatActivity" />
        <activity android:name=".game.setting.DeviceActivity" />
        <activity android:name=".game.setting.VersionActivity" />
        <activity android:name=".game.setting.GameDetailActivity" />
        <activity android:name=".game.setting.AccountStateActivity" />
        <activity android:name=".game.friend.AddFriendActivity" />
    </application>

</manifest>